/* other theme i really like :D */
/* @import url(https://davart154.github.io/Themes/Icon%20Revert%202023/2023%20Icon%20Revert.css); */


/* misc asset group  */

/* revert bot tag name change */
.botTag__5d473 span {
    display: none !important;
}

.botTag__5d473:after {
    font-size: .75rem;
    font-weight: 600;
    content: "BOT" !important;   
}

/* revert bot tag name change profile */
.usernameRow__63ed3 > .botTagRegular__82f07 span {
    display: none !important;
}

.usernameRow__63ed3 > .botTagRegular__82f07:after {
    font-size: .75rem;
    font-weight: 600;
    content: "BOT" !important;   
}

/* hide status icon */
.icon__8ac07 {
    display: none;
}

/* hide activities launcher */
.channelAppLauncher_e6e74f {
    display: none;
}

/* hide nitro widget */
.channel__972a0.container_e45859:nth-child(3) {
    display: none;
}

/* hide shop widget */
.channel__972a0.container_e45859:nth-child(4) {
    display: none;
}

/* hide call widget */
.actionButtons_e131a9 {
    display: none;
}

/* hide gift nitro widget */
.buttons__74017 > button > .contents__201d5 {
    display: none;
}

/* revert friends icon */
.channel__972a0.container_e45859:nth-child(1) > div > a > div > div > svg > path {
    d: path("M2.5 4 2.5 5.5C2.5 9.65 4.71 13.28 8 15.3L8 20 23 20 23 18C23 15.34 17.67 14 15 14 15 14 14.83 14 14.75 14 10 14 6 10 6 5.5L6 4 2.5 4ZM15 4C12.7909 4 11 5.7909 11 8 11 10.2091 12.7909 12 15 12 17.2091 12 19 10.2091 19 8 19 5.7909 17.2091 4 15 4Z") !important;
}

/* revert friends icon top */
main[aria-label="Friends"] > section > div > div > div:first-child > svg > path {
    d: path("M2.5 4 2.5 5.5C2.5 9.65 4.71 13.28 8 15.3L8 20 23 20 23 18C23 15.34 17.67 14 15 14 15 14 14.83 14 14.75 14 10 14 6 10 6 5.5L6 4 2.5 4ZM15 4C12.7909 4 11 5.7909 11 8 11 10.2091 12.7909 12 15 12 17.2091 12 19 10.2091 19 8 19 5.7909 17.2091 4 15 4Z") !important;
}

/* friend widget asset group */

/* revert dm button */
div[aria-label="Message"] > svg > path {
    d: path("M4.79805 3C3.80445 3 2.99805 3.8055 2.99805 4.8V15.6C2.99805 16.5936 3.80445 17.4 4.79805 17.4H7.49805V21L11.098 17.4H19.198C20.1925 17.4 20.998 16.5936 20.998 15.6V4.8C20.998 3.8055 20.1925 3 19.198 3H4.79805Z") !important;
}

/* revert more button */
div[aria-label="More"] > svg > path {
    d: path("M12 16c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2-2-.8954305-2-2 .8954305-2 2-2zm0-6c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2-2-.8954305-2-2 .8954305-2 2-2zm0-6c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2-2-.8954305-2-2 .8954305-2 2-2z") !important;
}

/* top widget asset group */

/* revert call button */
div[aria-label="Start Voice Call"] > svg > path {
    d: path("M11 5V3C16.515 3 21 7.486 21 13H19C19 8.589 15.411 5 11 5ZM17 13H15C15 10.795 13.206 9 11 9V7C14.309 7 17 9.691 17 13ZM11 11V13H13C13 11.896 12.105 11 11 11ZM14 16H18C18.553 16 19 16.447 19 17V21C19 21.553 18.553 22 18 22H13C6.925 22 2 17.075 2 11V6C2 5.447 2.448 5 3 5H7C7.553 5 8 5.447 8 6V10C8 10.553 7.553 11 7 11H6C6.063 14.938 9 18 13 18V17C13 16.447 13.447 16 14 16Z") !important;
}

/* revert video button */
div[aria-label="Start Video Call"] > svg > path {
    d: path("M21.526 8.149C21.231 7.966 20.862 7.951 20.553 8.105L18 9.382V7C18 5.897 17.103 5 16 5H4C2.897 5 2 5.897 2 7V17C2 18.104 2.897 19 4 19H16C17.103 19 18 18.104 18 17V14.618L20.553 15.894C20.694 15.965 20.847 16 21 16C21.183 16 21.365 15.949 21.526 15.851C21.82 15.668 22 15.347 22 15V9C22 8.653 21.82 8.332 21.526 8.149Z") !important;
}

/* revert pin button */
div[aria-label="Pinned Messages"] > svg > path {
    d: path("M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z") !important;
}

/* revert add group button */
div[aria-label="Add Friends to DM"] > svg > path {
    d: path("M21 3H24V5H21V8H19V5H16V3H19V0H21V3ZM10 12C12.205 12 14 10.205 14 8C14 5.795 12.205 4 10 4C7.795 4 6 5.795 6 8C6 10.205 7.795 12 10 12ZM10 13C5.289 13 2 15.467 2 19V20H18V19C18 15.467 14.711 13 10 13Z") !important;
}

/* revert new group button */
div[aria-label="New Group DM"] > svg > path {
    d: path("M20.998 0V3H23.998V5H20.998V8H18.998V5H15.998V3H18.998V0H20.998ZM2.99805 20V24L8.33205 20H14.998C16.102 20 16.998 19.103 16.998 18V9C16.998 7.896 16.102 7 14.998 7H1.99805C0.894047 7 -0.00195312 7.896 -0.00195312 9V18C-0.00195312 19.103 0.894047 20 1.99805 20H2.99805Z") !important;
}

/* revert inbox icon */
div[aria-label="Inbox"] > svg > path {
    d: path("M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z") !important;
}

/* revert support icon */
div[aria-label="Help"] > svg > path {
    d: path("M12 2C6.486 2 2 6.487 2 12C2 17.515 6.486 22 12 22C17.514 22 22 17.515 22 12C22 6.487 17.514 2 12 2ZM12 18.25C11.31 18.25 10.75 17.691 10.75 17C10.75 16.31 11.31 15.75 12 15.75C12.69 15.75 13.25 16.31 13.25 17C13.25 17.691 12.69 18.25 12 18.25ZM13 13.875V15H11V12H12C13.104 12 14 11.103 14 10C14 8.896 13.104 8 12 8C10.896 8 10 8.896 10 10H8C8 7.795 9.795 6 12 6C14.205 6 16 7.795 16 10C16 11.861 14.723 13.429 13 13.875Z") !important;
}

/* server top widget asset group */

/* revert channel header icon */
section[aria-label="Channel header"] > div > div:first-child > div > svg > path {
    d: path("M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z") !important;
}

/* revert notification icon */
div[aria-label="Notification Settings"] > svg > path {
    d: path("M18 9V14C18 15.657 19.344 17 21 17V18H3V17C4.656 17 6 15.657 6 14V9C6 5.686 8.686 3 12 3C15.314 3 18 5.686 18 9ZM11.9999 21C10.5239 21 9.24793 20.19 8.55493 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21Z") !important;
}

/* revert threads icon */
/* does anyone actually use threads? */
div[aria-label="Threads"] > svg > path {
    d: path("M5.43309 21C5.35842 21 5.30189 20.9325 5.31494 20.859L5.99991 17H2.14274C2.06819 17 2.01168 16.9327 2.02453 16.8593L2.33253 15.0993C2.34258 15.0419 2.39244 15 2.45074 15H6.34991L7.40991 9H3.55274C3.47819 9 3.42168 8.93274 3.43453 8.85931L3.74253 7.09931C3.75258 7.04189 3.80244 7 3.86074 7H7.75991L8.45234 3.09903C8.46251 3.04174 8.51231 3 8.57049 3H10.3267C10.4014 3 10.4579 3.06746 10.4449 3.14097L9.75991 7H15.7599L16.4523 3.09903C16.4625 3.04174 16.5123 3 16.5705 3H18.3267C18.4014 3 18.4579 3.06746 18.4449 3.14097L17.7599 7H21.6171C21.6916 7 21.7481 7.06725 21.7353 7.14069L21.4273 8.90069C21.4172 8.95811 21.3674 9 21.3091 9H17.4099L17.0495 11.04H15.05L15.4104 9H9.41035L8.35035 15H10.5599V17H7.99991L7.30749 20.901C7.29732 20.9583 7.24752 21 7.18934 21H5.43309Z M13.4399 12.96C12.9097 12.96 12.4799 13.3898 12.4799 13.92V20.2213C12.4799 20.7515 12.9097 21.1813 13.4399 21.1813H14.3999C14.5325 21.1813 14.6399 21.2887 14.6399 21.4213V23.4597C14.6399 23.6677 14.8865 23.7773 15.0408 23.6378L17.4858 21.4289C17.6622 21.2695 17.8916 21.1813 18.1294 21.1813H22.5599C23.0901 21.1813 23.5199 20.7515 23.5199 20.2213V13.92C23.5199 13.3898 23.0901 12.96 22.5599 12.96H13.4399Z") !important;
}

/* revert member list icon */
div[aria-label="Show Member List"] > svg > path {
    d: path("M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z M20.0001 20.006H22.0001V19.006C22.0001 16.4433 20.2697 14.4415 17.5213 13.5352C19.0621 14.9127 20.0001 16.8059 20.0001 19.006V20.006Z M14.8834 11.9077C16.6657 11.5044 18.0001 9.9077 18.0001 8.00598C18.0001 5.96916 16.4693 4.28218 14.4971 4.0367C15.4322 5.09511 16.0001 6.48524 16.0001 8.00598C16.0001 9.44888 15.4889 10.7742 14.6378 11.8102C14.7203 11.8418 14.8022 11.8743 14.8834 11.9077Z") !important;
}

/* revert member list icon */
div[aria-label="Hide Member List"] > svg > path {
    d: path("M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z M20.0001 20.006H22.0001V19.006C22.0001 16.4433 20.2697 14.4415 17.5213 13.5352C19.0621 14.9127 20.0001 16.8059 20.0001 19.006V20.006Z M14.8834 11.9077C16.6657 11.5044 18.0001 9.9077 18.0001 8.00598C18.0001 5.96916 16.4693 4.28218 14.4971 4.0367C15.4322 5.09511 16.0001 6.48524 16.0001 8.00598C16.0001 9.44888 15.4889 10.7742 14.6378 11.8102C14.7203 11.8418 14.8022 11.8743 14.8834 11.9077Z") !important;
}

/* server side widget asset group */

/* revert rules icon */
div[aria-label="Rules icon"] > svg > path {
    d: path("M19.8 20.75V4.5H21V22H5.4C4.0746 22 3 20.8806 3 19.5V4.5C3 3.1194 4.0746 2 5.4 2H18.6V18.25H5.4C4.7373 18.25 4.2 18.8091 4.2 19.5 4.2 20.1909 4.7373 20.75 5.4 20.75H19.8ZM14.3831 6 9.5333 10.7949 7.6252 8.9065 6 10.5035 9.5331 14 16 7.6001 14.3831 6Z") !important;
}

/* revert text icon */
div[aria-label="Text icon"] > svg > path {
    d: path("M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z") !important;
}

/* revert locked text icon */
div[aria-label="Text (Limited) icon"] > svg > path {
    d: path("M14 8C14 7.44772 13.5523 7 13 7H9.76001L10.3657 3.58738C10.4201 3.28107 10.1845 3 9.87344 3H8.88907C8.64664 3 8.43914 3.17391 8.39677 3.41262L7.76001 7H4.18011C3.93722 7 3.72946 7.17456 3.68759 7.41381L3.51259 8.41381C3.45905 8.71977 3.69449 9 4.00511 9H7.41001L6.35001 15H2.77011C2.52722 15 2.31946 15.1746 2.27759 15.4138L2.10259 16.4138C2.04905 16.7198 2.28449 17 2.59511 17H6.00001L5.39427 20.4126C5.3399 20.7189 5.57547 21 5.88657 21H6.87094C7.11337 21 7.32088 20.8261 7.36325 20.5874L8.00001 17H14L13.3943 20.4126C13.3399 20.7189 13.5755 21 13.8866 21H14.8709C15.1134 21 15.3209 20.8261 15.3632 20.5874L16 17H19.5799C19.8228 17 20.0306 16.8254 20.0724 16.5862L20.2474 15.5862C20.301 15.2802 20.0655 15 19.7549 15H16.35L16.6758 13.1558C16.7823 12.5529 16.3186 12 15.7063 12C15.2286 12 14.8199 12.3429 14.7368 12.8133L14.3504 15H8.35045L9.41045 9H13C13.5523 9 14 8.55228 14 8Z M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z") !important;
}

/* revert voice icon */
div[aria-label="Voice icon"] > svg > path {
    d: path("M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z") !important;
}

/* revert locked voice icon */
div[aria-label="Voice (Limited) icon"] > svg > path {
    d: path("M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z") !important;
}

/* server upper widget asset group */

/* revert events icon */
.containerDefault_c69b6d:has([aria-label="Events"]) > div > div > div > svg > path {
    d: path("M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7v-5z") !important;
}

/* revert channel icon */
.containerDefault_c69b6d:has([aria-label="Browse Channels"]) > div > div > div > svg > path {
    d: path("M6.0039 21C5.6306 21 5.3479 20.6627 5.4132 20.2951L5.9981 17H2.7122C2.3394 17 2.0569 16.6637 2.1212 16.2966L2.2612 15.4966C2.3114 15.2095 2.5607 15 2.8522 15H6.3481L7.4081 9H4.1222C3.7494 9 3.4669 8.6637 3.5312 8.2966L3.6712 7.4966C3.7214 7.2095 3.9707 7 4.2622 7H7.7581L8.3802 3.4951C8.431 3.2087 8.68 3 8.9709 3H9.7522C10.1255 3 10.4082 3.3373 10.3429 3.7049L9.7581 7H15.758L16.3801 3.4951C16.431 3.2087 16.68 3 16.9709 3H17.7522C18.1255 3 18.4082 3.3373 18.343 3.7049L17.7581 7H21.0439C21.4166 7 21.6992 7.3363 21.6349 7.7034L21.495 8.5034C21.4447 8.7905 21.1954 9 20.9039 9H17.408L17.09 10.8H15.0905L15.4085 9H9.4085L8.3485 15H10.798V17H7.9981L7.3759 20.5049C7.3251 20.7913 7.0761 21 6.7852 21H6.0039ZM12.48 16.8C12.48 14.4142 14.4142 12.48 16.8 12.48 19.186 12.48 21.12 14.4142 21.12 16.8 21.12 17.733 20.8243 18.597 20.3214 19.3031L22.7092 21.691C22.9903 21.9721 22.9903 22.428 22.7092 22.7092 22.428 22.9903 21.9721 22.9903 21.691 22.7092L19.3031 20.3214C18.597 20.8243 17.733 21.12 16.8 21.12 14.4142 21.12 12.48 19.186 12.48 16.8ZM16.8 13.92C15.2094 13.92 13.92 15.2094 13.92 16.8 13.92 18.3906 15.2094 19.68 16.8 19.68 18.3906 19.68 19.68 18.3906 19.68 16.8 19.68 15.2094 18.3906 13.92 16.8 13.92Z") !important;
}

/* revert member icon */
.containerDefault_c69b6d:has([aria-label="Members"]) > div > div > div > svg > path {
    d: path("M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z M20.0001 20.006H22.0001V19.006C22.0001 16.4433 20.2697 14.4415 17.5213 13.5352C19.0621 14.9127 20.0001 16.8059 20.0001 19.006V20.006Z M14.8834 11.9077C16.6657 11.5044 18.0001 9.9077 18.0001 8.00598C18.0001 5.96916 16.4693 4.28218 14.4971 4.0367C15.4322 5.09511 16.0001 6.48524 16.0001 8.00598C16.0001 9.44888 15.4889 10.7742 14.6378 11.8102C14.7203 11.8418 14.8022 11.8743 14.8834 11.9077Z") !important;
}

/* user controls asset group */

/* shift gear icon */
button[aria-label="User Settings"] > div > div > svg > g > g > g {
    transform: matrix(25,0,0,25,0,0) scale(1.20);
}

/* revert gear icon */
button[aria-label="User Settings"] > div > div > svg > g path {
    d: path("M16.4483 8.3333H18.3333V11.6667H16.4492C16.2483 12.4425 15.9167 13.165 15.4708 13.8033L16.6667 15 15 16.6667 13.8042 15.47C13.1642 15.9158 12.4433 16.2483 11.6667 16.4483V18.3333H8.3333V16.4483C7.5575 16.2483 6.8358 15.9158 6.1967 15.47L5 16.6667 3.3333 15 4.53 13.8033C4.0842 13.1658 3.7517 12.4433 3.5517 11.6667H1.6667V8.3333H3.5517C3.7517 7.5567 4.0833 6.835 4.53 6.1967L3.3333 5 5 3.3333 6.1967 4.53C6.835 4.0833 7.5567 3.7517 8.3333 3.5517V1.6667H11.6667V3.5508C12.4433 3.7517 13.1642 4.0833 13.8042 4.5292L15 3.3325 16.6667 4.9992 15.47 6.1967C15.9158 6.835 16.2483 7.5575 16.4483 8.3333ZM10 13.3333C11.8409 13.3333 13.3333 11.8409 13.3333 10 13.3333 8.159 11.8409 6.6667 10 6.6667 8.159 6.6667 6.6667 8.159 6.6667 10 6.6667 11.8409 8.159 13.3333 10 13.3333Z") !important;
}

/* in channel status asset group */

/* revert user mute */
div[aria-label="Muted"] > svg > path {
    d: path("M6.7 11H5C5 12.19 5.34 13.3 5.9 14.28L7.13 13.05C6.86 12.43 6.7 11.74 6.7 11Z M9.01 11.085C9.015 11.1125 9.02 11.14 9.02 11.17L15 5.18V5C15 3.34 13.66 2 12 2C10.34 2 9 3.34 9 5V11C9 11.03 9.005 11.0575 9.01 11.085Z M11.7237 16.0927L10.9632 16.8531L10.2533 17.5688C10.4978 17.633 10.747 17.6839 11 17.72V22H13V17.72C16.28 17.23 19 14.41 19 11H17.3C17.3 14 14.76 16.1 12 16.1C11.9076 16.1 11.8155 16.0975 11.7237 16.0927Z M21 4.27L19.73 3L3 19.73L4.27 21L8.46 16.82L9.69 15.58L11.35 13.92L14.99 10.28L21 4.27Z") !important;
}

/* revert user deafen */
div[aria-label="Deafened"] > svg > path {
    d: path("M6.16204 15.0065C6.10859 15.0022 6.05455 15 6 15H4V12C4 7.588 7.589 4 12 4C13.4809 4 14.8691 4.40439 16.0599 5.10859L17.5102 3.65835C15.9292 2.61064 14.0346 2 12 2C6.486 2 2 6.485 2 12V19.1685L6.16204 15.0065Z M19.725 9.91686C19.9043 10.5813 20 11.2796 20 12V15H18C16.896 15 16 15.896 16 17V20C16 21.104 16.896 22 18 22H20C21.105 22 22 21.104 22 20V12C22 10.7075 21.7536 9.47149 21.3053 8.33658L19.725 9.91686Z M3.20101 23.6243L1.7868 22.2101L21.5858 2.41113L23 3.82535L3.20101 23.6243Z") !important;
}

/* revert user video */
div[aria-label="Video"] > svg > path {
    d: path("M21.526 8.149C21.231 7.966 20.862 7.951 20.553 8.105L18 9.382V7C18 5.897 17.103 5 16 5H4C2.897 5 2 5.897 2 7V17C2 18.104 2.897 19 4 19H16C17.103 19 18 18.104 18 17V14.618L20.553 15.894C20.694 15.965 20.847 16 21 16C21.183 16 21.365 15.949 21.526 15.851C21.82 15.668 22 15.347 22 15V9C22 8.653 21.82 8.332 21.526 8.149Z") !important;
}

/* revert edit channel */
div[aria-label="Edit Channel"] > svg > path {
    transform: scale(1.05) translate(0.1rem, 0.1rem);
    d: path("M16.4483 8.3333H18.3333V11.6667H16.4492C16.2483 12.4425 15.9167 13.165 15.4708 13.8033L16.6667 15 15 16.6667 13.8042 15.47C13.1642 15.9158 12.4433 16.2483 11.6667 16.4483V18.3333H8.3333V16.4483C7.5575 16.2483 6.8358 15.9158 6.1967 15.47L5 16.6667 3.3333 15 4.53 13.8033C4.0842 13.1658 3.7517 12.4433 3.5517 11.6667H1.6667V8.3333H3.5517C3.7517 7.5567 4.0833 6.835 4.53 6.1967L3.3333 5 5 3.3333 6.1967 4.53C6.835 4.0833 7.5567 3.7517 8.3333 3.5517V1.6667H11.6667V3.5508C12.4433 3.7517 13.1642 4.0833 13.8042 4.5292L15 3.3325 16.6667 4.9992 15.47 6.1967C15.9158 6.835 16.2483 7.5575 16.4483 8.3333ZM10 13.3333C11.8409 13.3333 13.3333 11.8409 13.3333 10 13.3333 8.159 11.8409 6.6667 10 6.6667 8.159 6.6667 6.6667 8.159 6.6667 10 6.6667 11.8409 8.159 13.3333 10 13.3333Z") !important;
}

/* revert create invite */
div[aria-label="Create Invite"] > svg > path {
    d: path("M21 3H24V5H21V8H19V5H16V3H19V0H21V3ZM10 12C12.205 12 14 10.205 14 8C14 5.795 12.205 4 10 4C7.795 4 6 5.795 6 8C6 10.205 7.795 12 10 12ZM10 13C5.289 13 2 15.467 2 19V20H18V19C18 15.467 14.711 13 10 13Z") !important;
}

/* revert open chat */
div[aria-label="Open Chat"] > svg > path {
    d: path("M4.79805 3C3.80445 3 2.99805 3.8055 2.99805 4.8V15.6C2.99805 16.5936 3.80445 17.4 4.79805 17.4H7.49805V21L11.098 17.4H19.198C20.1925 17.4 20.998 16.5936 20.998 15.6V4.8C20.998 3.8055 20.1925 3 19.198 3H4.79805Z") !important;
}

/* revert pencil icon */
.pencilIcon__5cda9 path {
    d: path("M19.2929 9.8299L19.9409 9.18278C21.353 7.77064 21.353 5.47197 19.9409 4.05892C18.5287 2.64678 16.2292 2.64678 14.817 4.05892L14.1699 4.70694L19.2929 9.8299ZM12.8962 5.97688L5.18469 13.6906L10.3085 18.813L18.0201 11.0992L12.8962 5.97688ZM4.11851 20.9704L8.75906 19.8112L4.18692 15.239L3.02678 19.8796C2.95028 20.1856 3.04028 20.5105 3.26349 20.7337C3.48669 20.9569 3.8116 21.046 4.11851 20.9704Z") !important;
}

/* revert disconnect button */
.disconnect_f1ceac {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;

    .contents__201d5 > .experimentControlIcon_f1ceac {
        transform: scale(1.1);
    }

    .contents__201d5 > .experimentControlIcon_f1ceac > svg > g > g > g {
        transform: matrix(25,0,0,25,5,30);
    }

    .contents__201d5 > .experimentControlIcon_f1ceac > svg > g > g > g > g > path {
        fill: white !important;
        d: path("M21.1169 1.11603L22.8839 2.88403L19.7679 6.00003L22.8839 9.11603L21.1169 10.884L17.9999 7.76803L14.8839 10.884L13.1169 9.11603L16.2329 6.00003L13.1169 2.88403L14.8839 1.11603L17.9999 4.23203L21.1169 1.11603ZM18 22H13C6.925 22 2 17.075 2 11V6C2 5.447 2.448 5 3 5H7C7.553 5 8 5.447 8 6V10C8 10.553 7.553 11 7 11H6C6.063 14.938 9 18 13 18V17C13 16.447 13.447 16 14 16H18C18.553 16 19 16.447 19 17V21C19 21.553 18.553 22 18 22Z") !important;
    }
}

/* fix button uneven spacing */
/* how discord??? */
.micButtonParent__37e49 {
    margin-right: .15rem;
}

.buttons__37e49 > button:nth-child(3) {
    margin-left: .15rem;
}

/* revert mute button bottom widget */
button[aria-label="Mute"] > div > div > svg > g > g > g:first-child > g > g > g:first-child path {
    fill: #b0b4bd !important;
    d: path("M14.99 11C14.99 12.66 13.66 14 12 14C10.34 14 9 12.66 9 11V5C9 3.34 10.34 2 12 2C13.66 2 15 3.34 15 5L14.99 11ZM12 16.1C14.76 16.1 17.3 14 17.3 11H19C19 14.42 16.28 17.24 13 17.72V22H11V17.72C7.72 17.23 5 14.41 5 11H6.7C6.7 14 9.24 16.1 12 16.1Z") !important;
}

button[aria-label="Mute"] > div > div > svg > g > g > g:first-child > g > g > g:nth-child(n+2) path {
    opacity: 0;
}

button[aria-label="Mute"] > div > div > svg > g > g > g:first-child > g > g:nth-child(2) {
    transform: matrix(-25,0,0,25,1000,0) !important;
}

button[aria-label="Mute"] > div > div > svg > g > g > g:first-child > g > g:nth-child(2) > g {
    transform: matrix(1,0,0,1,8.25,8.25) !important;
}

button[aria-label="Mute"] > div > div > svg > g > g > g:first-child > g > g {
    transform: matrix(-25,0,0,25,793,210) !important;
}

button[aria-label="Mute"] > div > div > svg > g > g > g:first-child > g > g > g {
    transform: matrix(1,0,0,1,0,0) !important;
}

/* revert deafen button bottom widget */
button[aria-label="Deafen"] > div > div > svg > g > g > g:nth-child(1) > g > g > g path {
    fill: #b0b4bd !important;
    d: path("M12 2.00305C6.486 2.00305 2 6.48805 2 12.0031V20.0031C2 21.1071 2.895 22.0031 4 22.0031H6C7.104 22.0031 8 21.1071 8 20.0031V17.0031C8 15.8991 7.104 15.0031 6 15.0031H4V12.0031C4 7.59105 7.589 4.00305 12 4.00305C16.411 4.00305 20 7.59105 20 12.0031V15.0031H18C16.896 15.0031 16 15.8991 16 17.0031V20.0031C16 21.1071 16.896 22.0031 18 22.0031H20C21.104 22.0031 22 21.1071 22 20.0031V12.0031C22 6.48805 17.514 2.00305 12 2.00305Z") !important;
}

button[aria-label="Deafen"] > div > div > svg > g > g > g:nth-child(1) > g > g:nth-child(2) > g > g {
    transform: scale(0.96) matrix(1,0,0,1,0.3,0.3) !important;
}

button[aria-label="Deafen"] > div > div > svg > g > g > g:nth-child(1) > g > g:nth-child(1) > g > g {
    transform: scale(0.96) matrix(1,0,0,1,0.3,0.3) !important;
}

button[aria-label="Deafen"] > div > div > svg > g > g > g:nth-child(2) > g > g > g path {
    fill: #b0b4bd !important;
    d: path("M12 2.00305C6.486 2.00305 2 6.48805 2 12.0031V20.0031C2 21.1071 2.895 22.0031 4 22.0031H6C7.104 22.0031 8 21.1071 8 20.0031V17.0031C8 15.8991 7.104 15.0031 6 15.0031H4V12.0031C4 7.59105 7.589 4.00305 12 4.00305C16.411 4.00305 20 7.59105 20 12.0031V15.0031H18C16.896 15.0031 16 15.8991 16 17.0031V20.0031C16 21.1071 16.896 22.0031 18 22.0031H20C21.104 22.0031 22 21.1071 22 20.0031V12.0031C22 6.48805 17.514 2.00305 12 2.00305Z") !important;
}

button[aria-label="Deafen"] > div > div > svg > g > g > g:nth-child(2) > g > g {
    transform: scale(.96) matrix(1,0,0,1,-60,-60) !important;
}

button[aria-label="Deafen"] > div > div > svg > g > g > g:nth-child(2) > g > g > g > g {
    transform: matrix(1,0,0,1,2.95,3.3) !important;
}

/* revert disconnect button widget */
.container_e131a9 {
    div > .flex__7c0ba > button:nth-child(2) > div > div > svg > g > g > g {
        transform: matrix(25,0,0,25,0,0);
    }

    div > .flex__7c0ba > button:nth-child(2) > div > div > svg > g > g > g > g > path {
        fill: #b1b4bc !important;
        d: path("M21.1169 1.11603L22.8839 2.88403L19.7679 6.00003L22.8839 9.11603L21.1169 10.884L17.9999 7.76803L14.8839 10.884L13.1169 9.11603L16.2329 6.00003L13.1169 2.88403L14.8839 1.11603L17.9999 4.23203L21.1169 1.11603ZM18 22H13C6.925 22 2 17.075 2 11V6C2 5.447 2.448 5 3 5H7C7.553 5 8 5.447 8 6V10C8 10.553 7.553 11 7 11H6C6.063 14.938 9 18 13 18V17C13 16.447 13.447 16 14 16H18C18.553 16 19 16.447 19 17V21C19 21.553 18.553 22 18 22Z") !important;
    }
}