/* import theme assets from other url */
@import url("https://media.notrogan.com/discord/vars.css");

/* required packages after 2025 discord ui refresh */
@import url("https://milbits.github.io/oldcord/src/components/vars.css");
@import url("https://milbits.github.io/oldcord/src/components/other.css");
@import url("https://milbits.github.io/oldcord/src/components/redesign.css");

button[aria-label="Hide Members"] {
    display: none;
}

.avatarDecoration_c19a55 {
    display: none;
}

.avatarDecoration__44b0c {
    display: none;
}

/* hide status icon */
.icon_c9d15c {
    display: none;
}

/* hide activities launcher */
.channelAppLauncher_e6e74f {
    display: none !important;
}

/* hide nitro widget */
.channel__972a0.container_e45859:nth-child(3) {
    display: none;
}

/* hide shop widget */
.channel__972a0.container_e45859:nth-child(4) {
    display: none;
}

/* hide call widget */
.actionButtons_e131a9 {
    display: none;
}

/* hide gift nitro widget */
.buttons__74017 > button > .contents__201d5 {
    display: none;
}

/* revert disconnect button */
.disconnect_f1ceac {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;

    .contents__201d5 > .experimentControlIcon_f1ceac {
        transform: scale(1.1);
    }

    .contents__201d5 > .experimentControlIcon_f1ceac > svg > g > g > g {
        transform: matrix(25,0,0,25,5,30);
    }

    .contents__201d5 > .experimentControlIcon_f1ceac > svg > g > g > g > g > path {
        fill: white !important;
        d: path("M21.1169 1.11603L22.8839 2.88403L19.7679 6.00003L22.8839 9.11603L21.1169 10.884L17.9999 7.76803L14.8839 10.884L13.1169 9.11603L16.2329 6.00003L13.1169 2.88403L14.8839 1.11603L17.9999 4.23203L21.1169 1.11603ZM18 22H13C6.925 22 2 17.075 2 11V6C2 5.447 2.448 5 3 5H7C7.553 5 8 5.447 8 6V10C8 10.553 7.553 11 7 11H6C6.063 14.938 9 18 13 18V17C13 16.447 13.447 16 14 16H18C18.553 16 19 16.447 19 17V21C19 21.553 18.553 22 18 22Z") !important;
    }
}
